header {
  background-image: url(backgound/4.png);
  padding: 0;
  margin: 0;
  margin-top: -30px;
  width: 100%; /* Ou qualquer valor específico */
  height: 650px; /* Ou qualquer valor específico */
  background-size: cover; /* Faz a imagem cobrir o elemento completamente */
  background-position: center; /* Centraliza a imagem no elemento */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  scroll-margin-top: 100rem;
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; 
}

.box{
  width: 690px;
  height: 750px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 1000px;
  margin-top: -100px;
}

.box h1{
  font-size: 5rem;
  font-family: 'finalsix';
  font-weight: bold;
  color: #c74e32;
}

.box img{
  width: 550px;
  top: 150px;
  margin-left: -100px;
  border-radius: 20px;
  position: relative;
  display: block;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.568);
}
.box p{
  position: absolute;
  top: 87%; /* Ajusta o texto verticalmente */
  left: 77%; /* Ajusta o texto horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o texto em relação ao ponto definido por top e left */
  color: #FFF; /* Cor do texto, ajuste conforme necessário */
  font-size: 20px; /* Tamanho da fonte, ajuste conforme necessário */
  font-weight: bold; /* Opção para deixar o texto em negrito */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adiciona uma sombra ao texto para melhorar a legibilidade sobre a imagem */
  text-align: center; /* Centraliza o texto */
  z-index: 10;
}

.header__mobile .lembrete{
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
    background-image: url(backgound/header-mobile.png);
  }

  header .box img{ 
    display: none;
  }

    header .header__mobile .lembrete{
      display: flex;
      height: auto;
      width: 100%;
    }

    header .box p{
      margin-left: -100px;
      margin-top: -210px;
      font-size: 15px;
      position: relative;
      
    }


  header .header__left p {
    margin: 2rem auto 4rem;
  }
}
@font-face {
  font-family: finalsix;
  src: url(fonts/fonnts.com-FinalSix_Bold.otf);
}